.page_article {
    max-width: 500px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: var(--vm_1);
    overflow: hidden;
    padding: 10px 15px;
    line-height: 20px;
}

.article_heading_container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 10px 10px 10px;
    background: var(--cg_2);
    border-radius: 4px;
    margin-top: 5px;
}
.article_title {
    font-size: 45px;
    line-height: 50px;
}
.article_heading_small_item {
    background: var(--cg_4);
    padding: 5px;
}
.article_key_idea {
    font-style: italic;
    font-size: 14px;
    line-height: 16px;
}
.article_series {
    font-size: 14px;
    line-height: 16px;
}
.article_date {
    font-size: 14px;
    line-height: 16px;
}
.article_author {
    font-size: 14px;
    line-height: 16px;
}




.reload_article_button {
    background: var(--cf);
    color: var(--cb);
    border: none;
    border-radius: 4px;
    height: 30px;
    max-width: 70px;
    font-weight: 300;
    font-size: 12px !important;
    margin-top: 10px;
}

.article_body_001 {
    display: flex;
    flex-direction: column;
    grid-row: 4;
    max-width: 400px;
    gap: 15px;
}

.article_body_001 {
    display: flex;
    flex-direction: column;
    grid-row: 4;
    max-width: 600px;
    gap: 15px;
}

.idea_heading {
    font-size: 35px;
    line-height: 35px;
    margin-top: 20px;
}

.passage_list_001 {
    padding: 0 0 0 30px;
}

.article_body_001_biblical_passage {
    font-style: italic;
}


.biblical_quote {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 10px 10px 10px;
    background: var(--cg_2);
    border-radius: 4px;
}

.biblical_quote_text {
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
}

.biblical_quote_reference {
    background: var(--cf);
    color: var(--cb);
    padding: 2px 5px;
    border-radius: 2px;
    width: fit-content;
    font-size: 12px;
}

.biblical_quote_key_prhase {
    font-weight: 900;
    color: var(--ca_1);
}