.sniper_field_list{
    
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.sniper_list_item_input{
    
    width: 50px;
}

.sniper_list_item{
    display: flex;
    align-items: center;
    width: 500px;
}
.sniper_list_item > *{
    display: flex;
    align-items: center;
    width: 250px;
}

.sniper_list_item_composed_item_inputs{
    display: flex;
    align-items: center;
    gap: 2px;
}
.sniper_list_item_composed_item_input{
    
    width: 20px;
}